@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,500&display=swap');
* {
  margin: 0; padding: 0;
  font-family: 'Chivo Mono', monospace;
}

header {
  
  width: 100%;
  height: 60px;
  background-color: darkgoldenrod;
}

.menu-header {
  display: flex;
  flex-direction: row;
  
}

.menu-header img {
 margin-left: 10px;
}

.menu-header ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  padding: 5px;
  gap: 20px;
}

.menu-header ul li{
  list-style: none;
}

.menu-header ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-shadow: 5px 3px 3px rgb(70, 59, 59);
}

.banner{
  background-image: url('../public/img/pexels-jason-villanueva-851555.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.banner h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  transform: translate(0, 10vh);
  text-shadow: 5px 3px 3px rgb(70, 59, 59);
  
}

/*--------*/

.cidade , .cafe-gourmet, .conheca{
  width: 100%;
  height: 50vh;
}

.cidade h2 , .cafe-gourmet h2, .conheca h2{
  text-align: center;
  padding: 10px;
  color: darkgoldenrod;
  margin-top: 20px;
}

.cidade p , .cafe-gourmet p, .conheca p{
  text-align: justify;
  width: 80%;
  margin: 50px auto;
}

/*--------*/

.alegria{
  background-image: url('../public/img/pexels-huỳnh-đạt-3262277.jpg');
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.alegria h2 , .vida h2 ,.contato-endereco h2{
  text-align: center;
  color: white;
  background-color: darkgoldenrod;
  font-size: 25px;
  transform: translate(0, 5vh);
  text-shadow: 5px 3px 3px rgb(70, 59, 59);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*--------*/

.vida{
  background-image: url('../public/img/pexels-chevanon-photography-302899.jpg');
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*--------*/

.mapa {
  background-image: url('../public/img/pexels-ketut-subiyanto-4353573.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.localizacao {
  width: 100%;
}

.contato {
  text-align: center;
  color: white;
  background-color: darkgoldenrod;
  font-size: 20px;
  transform: translate(0, 40vh);
  text-shadow: 5px 3px 3px rgb(70, 59, 59);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contato p a {
  text-decoration: none;
  color: white;
}

/*--------*/




